<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818448610464-8hhov1dv5bvu6n7k14r9jgcf5sne0rag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818448610464-8hhov1dv5bvu6n7k14r9jgcf5sne0rag</string>
	<key>API_KEY</key>
	<string>AIzaSyBOhWALqOmOLs-uk2c4ZxypA4KBMOmwJZk</string>
	<key>GCM_SENDER_ID</key>
	<string>818448610464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umerhamid.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f2466</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f2466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818448610464:ios:c74b1fcae7429e4a1cc5c5</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-f2466.firebaseio.com</string>
</dict>
</plist>